
/* bodyとhtmlの余白も削除 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    overflow:hidden;
}

.header {
    background: linear-gradient(0deg, #f7f7f779 0%, #000000e6 100%);
    padding: 20px 0 30px 0;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: relative;
    z-index: 1000;
    height: 10%;
}

.header img {
    max-width: 20%;
    height: auto;
    margin-left: 0;
}

.section {
    height: 100vh;
    position: relative;
    width: 100%;
}

.top {
    margin-top: -200px; /* ヘッダーにめり込ませる */
    height: calc(100vh + 80px); /* 高さをその分増やす */
}

.top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 104%; /* 親要素の高さに合わせる */
    object-fit: cover;
    object-position: center; /* 画像の中央を基準にする */
    z-index: 1;
    margin-bottom: 50px;
}

.news {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.newsTitle {
    position: relative;
    top: 10px;
    font-size: 3.5em;
    font-weight: bold;
    color: #333;
}

.news_container {
    display: flex;
    width: 10%;
    height: 10%;
    position: absolute;
    text-align: left;
    float: left;
     justify-content: center;
}